<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <!-- ID SOTTO APPLICAZIONE -->
		<add key="DBType" value="SQLClient"/>
		
		<!-- Stringa Connessione OPENGOV -->
		<!--<add key="connectionStringSQL" value="data source=192.168.81.204;initial catalog=catalog=OPENgovCOMUNISTRADE_TRIBUTI;persist security info=true;password=opengov;user id=opengov;workstation id=;packet size=4096"/>-->
		<add key="connectionStringSQL" value="data source=192.168.81.214;initial catalog=catalog=OPENgovCOMUNISTRADE_TRIBUTI;persist security info=true;password=opengov;user id=opengov;workstation id=;packet size=4096"/>
		
		<add key="TCP_PORT" value="10016"/>
		<add key="HTTP_PORT" value="10015"/>
		<add key="pathfileconflog4net" value="C:\Progetti\Progetti.NET\ServizioStradarioOpengov\log4net.xml"/>
  </appSettings>  
       <system.runtime.remoting> 
                <customErrors mode="Off"/> 
       </system.runtime.remoting> 
</configuration>
